/* view_prices.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar Styles */
.navbar {
    background-color: #007BFF;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand a {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #FFD700;
}

/* Header Styles */
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    color: #007BFF;
}

/* Table Styles */
table {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table th, table td {
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #007BFF;
    color: #fff;
}

table td {
    border-bottom: 1px solid #ddd;
}

/* Prevent wrapping of date cells */
td:first-child {
    white-space: nowrap;
    width: 100px; /* Adjust the width as needed */
    overflow: hidden;
}

/* Button Styles */
.btn {
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links a {
        margin: 5px 0;
    }

    .navbar-container {
        flex-direction: column;
    }

    table {
        width: 100%;
    }
}
