<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
    <link rel="stylesheet" href="static/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="brand">
                <a href="/">Hotel Price Management</a>
            </div>
            <div class="navbar-links">
                <a href="/viewer">Viewer</a>
                <a href="/editor">Editor</a>
                <a href="/manage_groups">Manage Groups</a>
                <a href="/manage_hotels">Manage Hotels</a>
                <a href="/">Home</a>
            </div>
        </div>
    </nav>
    <h1>Welcome to Hotel Price Management</h1>
</body>
</html>
